# From https://github.com/League-of-Foundry-Developers/FoundryVTT-Module-Template/blob/master/.github/workflows/main.yml
name: Release Creation

on:
  release:
    types: [published, edited]
  workflow_dispatch:
  push:
    tags:
      - 'v*'
      - '*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Compute tag name
      id: vars
      shell: bash
      run: |
        TAG="${{ github.event.release.tag_name }}"
        if [ -z "$TAG" ]; then TAG="${GITHUB_REF_NAME}"; fi
        echo "tag=$TAG" >> $GITHUB_OUTPUT

    #Substitute the Manifest and Download URLs in the module.json
    - name: Substitute Manifest and Download Links For Versioned Ones
      id: sub_manifest_link_version
      uses: microsoft/variable-substitution@v1
      with:
        files: 'module.json'
      env:
        version: ${{ steps.vars.outputs.tag }}
        manifest: https://github.com/${{ github.repository }}/releases/latest/download/module.json
        download: https://github.com/${{ github.repository }}/releases/download/${{ steps.vars.outputs.tag }}/module.zip

    # create a zip file with all files required by the module to add to the release
    - run: zip -r ./module.zip . -x@.github/zip-exclude.lst

    # Create a release for this specific version
    - name: Update Release with Files
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true # set this to false if you want to prevent updating existing releases
        name: ${{ github.event.release.name || steps.vars.outputs.tag }}
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json, ./module.zip'
        tag: ${{ steps.vars.outputs.tag }}
        body: ${{ github.event.release.body }}

    # Update the 'latest' release
    - name: Create Release
      id: create_latest_release
      uses: ncipollo/release-action@v1
      if: endsWith(github.ref, 'main') || endsWith(github.ref, 'master')
      with:
        allowUpdates: true
        name: Latest
        draft: false
        prerelease: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './module.json,./module.zip'
        tag: latest
        body: ${{ github.event.release.body }}
